Support RA-splitting & scheduling

Placeholder bug for development of RA-splitting functionality.

Builds on top of my RA source configuration.

Implements:
RFC4861 6.2.3
RFC6980 - Security Implications of IPv6 Fragmentation with IPv6 Neighbor Discovery
RFC7772 - Reducing Energy Consumption of Router Advertisements (scheduling placeholder functions so far)

Submitting for early review